client/target/
HelloServer/target/*.jar
HelloServer/target/*.war
HelloServer/target/classes/
HelloServer/target/generated-sources
HelloServer/target/generated-test-sources
HelloServer/target/m2e-wtp
HelloServer/target/maven-archiver
HelloServer/target/maven-status
HelloServer/target/test-classes
HelloServer/target/HelloServer-0.0.1-SNAPSHOT/WEB-INF/lib/
HelloServer/target/HelloServer-0.0.1-SNAPSHOT/WEB-INF/classes
target/
HelloServer/.settings
client/.settings
HelloServer/.classpath
client/.classpath
client/.project
HelloServer/.project
client/.settings
.DS_Store